@font-face {
  font-family: "Atmospheric";
  src: url("./aAtmospheric.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.heading {
  margin-top: 8rem;
  margin-bottom: 4rem;
  text-align: center;
  /* font-family: Raleway, sans-serif; */
  font-family: "aAtmospheric", sans-serif;

  color: white;
}

#heading1.svelte-1suma1w {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  color: black;
  font-size: 50px;
  font-family: "aAtmospheric", sans-serif;
}

.heading_inside {
  font-family: "Atmospheric", sans-serif;
  color: #9a4325;
}

.heroinnerdiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.herodiv {
  margin-bottom: 8rem;
  background-color: #fff;
}

.svelte-1suma1w {
  box-sizing: border-box;
  margin: 0.2rem 0rem;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

/* Add this media query for responsive design */
@media (max-width: 530px) {
  .heroinnerdiv {
    flex-direction: column;
  }

  .heroinnerdiv > * {
    margin-bottom: 20px; /* Adds spacing between the cards */
  }
}
