.nav {
  width: 100%;
  background-color: rgb(39 39 42);
  display: flex;
  justify-content: space-between; /* Align items horizontally */
  align-items: center;
  height: 4rem;
  font-family: "Raleway", sans-serif;
  color: white;
  position: fixed;
  top: 0;
  z-index: 4;
  cursor: pointer;
  user-select: none;
  padding: 0 1rem; /* Add padding to the sides */
}

/* Logo Styles */
.logo {
  max-height: 37px;
  max-width: 207px;
  margin-left: -2rem; /* Position the logo on the left side */
}

/* Mobile Menu Icon */
.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1rem;
}

/* Desktop Menu */
.desktop-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

/* Style for links */
.nav a {
  color: white;
  text-decoration: none;
}

/* Dropdown menu styles */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3d3d3d74;
  border-radius: 5px;
  top: 100%;
  left: 0;
  z-index: 10;
}

.dropdown-content a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #2d2d2d;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Mobile menu styles */
.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
  height: 100dvh;
  backdrop-filter: blur(12px);
  position: absolute;
  background-color: rgb(10, 6, 6);
  top: 0px;
  right: 0;
  z-index: 5;
  padding-top: 3rem;
  color: white;
}

.mobile-menu a {
  padding: 1.5rem;
  text-align: end;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  width: 100%;
}

.mobile-menu a:hover {
  background-color: #a38b8b;
  font-size: 20px;
  transition: all 0.4s;
}

/* Show the mobile menu when the menu icon is clicked */
@media (max-width: 980px) {
  .menu-icon {
    display: flex;
    color: rgb(247, 127, 14);
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 6;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
    margin-right: 0;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    background: none;
    backdrop-filter: blur(0);
    background-color: #2d2d2d;
  }

  .logo {
    display: block;
    max-height: 30px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin-left: -3.5rem;
  }
}
